<!-- Table -->
<div class="container table-container">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <%
                headers = {
                    'Id' => 'id',
                    'Messageable Type' => 'outboxer_messageable_type',
                    'Messageable Id' => 'outboxer_messageable_id',
                    'Status' => 'status',
                    'Created At' => 'created_at',
                    'Updated At' => 'updated_at'
                }
                headers.each do |display, col|
                %>
                    <th>
                        <a href="?page=<%= page %>&limit=<%= limit %>&sort=<%= col %>&order=<%= sort.to_s == col && order == :asc ? 'desc' : 'asc' %>">
                            <%= display %>
                            <% if sort.to_s == col %>
                                <%= order == :asc ? '▲' : '▼' %>
                            <% end %>
                        </a>
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% messages.each do |message| %>
                <tr class="clickable-row" data-href="/messages/<%= message.id %>">
                    <td><%= message.id %></td>
                    <td><%= message.outboxer_messageable_type %></td>
                    <td><%= message.outboxer_messageable_id %></td>
                    <td><%= message.status %></td>
                    <td><%= message.created_at %></td>
                    <td><%= message.updated_at %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<!-- Pagination Controls -->
<div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item <%= 'disabled' unless messages.current_page > 1 %>">
                <a class="page-link" href="?page=<%= messages.prev_page %>&limit=<%= limit %>&order=<%= order %>&sort=<%= sort %>" tabindex="-1" aria-disabled="true">&lt;&lt;</a>
            </li>
            <% messages.total_pages.times do |i| %>
                <li class="page-item <%= 'active' if messages.current_page == i + 1 %>">
                    <a class="page-link" href="?page=<%= i + 1 %>&limit=<%= limit %>&order=<%= order %>&sort=<%= sort %>"><%= i + 1 %></a>
                </li>
            <% end %>
            <li class="page-item <%= 'disabled' unless messages.current_page < messages.total_pages %>">
                <a class="page-link" href="?page=<%= messages.next_page %>&limit=<%= limit %>&order=<%= order %>&sort=<%= sort %>" >&gt;&gt;</a>
            </li>
        </ul>
    </nav>
</div>
