<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Messages</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Messageable</th>
                            <th scope="col">Updated At</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>

                    <!-- Publishing Section -->
                    <tbody>
                        <tr class="table-primary" data-bs-toggle="collapse" data-bs-target="#publishingSection" aria-expanded="true" aria-controls="publishingSection">
                            <th colspan="7">
                                Publishing (<%= message_status_counts['publishing'] %>)
                            </th>
                        </tr>
                    </tbody>
                    <tbody id="publishingSection" class="collapse show table-group-divider">
                        <% messages_publishing['data'].each do |message| %>
                            <tr>
                                <td><%= message['id'] %></td>
                                <td><%= message['messageable'] %></td>
                                <td><%= message['updated_at'] %></td>
                                <td><%= message['created_at'] %></td>
                            </tr>
                        <% end %>
                    </tbody>

                    <!-- Unpublishing Section -->
                    <tbody>
                        <tr class="table-secondary" data-bs-toggle="collapse" data-bs-target="#unpublishedSection" aria-expanded="true" aria-controls="unpublishedSection">
                            <th colspan="7">
                                Unpublished (<%= message_status_counts['unpublished'] %>)
                            </th>
                        </tr>
                    </tbody>
                    <tbody id="unpublishedSection" class="collapse show table-group-divider">
                        <% messages_unpublished['data'].each do |message| %>
                            <tr>
                                <td><%= message['id'] %></td>
                                <td><%= message['messageable'] %></td>
                                <td><%= message['updated_at'] %></td>
                                <td><%= message['created_at'] %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
