<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Messages</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Id</th>
                            <th scope="col">Messageable</th>
                            <th scope="col">Created At</th>
                            <th scope="col">
                                Updated At <i class="bi bi-sort-up"></i>
                            </th>
                        </tr>
                    </thead>

                    <!-- Publishing Section -->
                    <tbody>
                        <tr class="table-primary" data-bs-toggle="collapse" data-bs-target="#publishingSection" aria-expanded="true" aria-controls="publishingSection">
                            <th colspan="7">
                                Publishing (<%= message_status_counts[:publishing] %>)
                            </th>
                        </tr>
                    </tbody>
                    <tbody id="publishingSection" class="collapse show table-group-divider">
                        <% messages_publishing[:data].each_with_index do |message, index| %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>
                                    <a href="/message/<%= message[:id] %>" class="custom-link">
                                        <%= message[:id] %>
                                    </a>
                                </td>
                                <td><%= message[:messageable_type] %>::<%= message[:messageable_id] %></td>
                                <td><%= message[:created_at] %></td>
                                <td><%= message[:updated_at] %></td>
                            </tr>
                        <% end %>
                    </tbody>

                    <!-- Queued Section -->
                    <tbody>
                        <tr class="table-secondary" data-bs-toggle="collapse" data-bs-target="#queuedSection" aria-expanded="true" aria-controls="queuedSection">
                            <th colspan="7">
                                Queued (<%= message_status_counts[:queued] %>)
                            </th>
                        </tr>
                    </tbody>
                    <tbody id="queuedSection" class="collapse show table-group-divider">
                        <% messages_queued[:data].each_with_index do |message, index| %>
                            <tr>
                                <td><%= messages_publishing[:data].count + index + 1 %></td>
                                <td>
                                    <a href="/message/<%= message[:id] %>" class="custom-link">
                                        <%= message[:id] %>
                                    </a>
                                </td>
                                <td><%= message[:messageable_type] %>::<%= message[:messageable_id] %></td>
                                <td><%= message[:created_at] %></td>
                                <td><%= message[:updated_at] %></td>
                            </tr>
                        <% end %>
                    </tbody>

                    <!-- Backlogged Section -->
                    <tbody>
                        <tr class="table-warning" data-bs-toggle="collapse" data-bs-target="#backloggedSection" aria-expanded="true" aria-controls="backloggedSection">
                            <th colspan="7">
                                Backlogged (<%= message_status_counts[:backlogged] %>)
                            </th>
                        </tr>
                    </tbody>
                    <tbody id="backloggedSection" class="collapse show table-group-divider">
                        <% messages_backlogged[:data].each_with_index do |message, index| %>
                            <tr>
                                <td><%= messages_publishing[:data].count + messages_queued[:data].count + index + 1 %></td>
                                <td>
                                    <a href="/message/<%= message[:id] %>" class="custom-link">
                                        <%= message[:id] %>
                                    </a>
                                </td>
                                <td><%= message[:messageable_type] %>::<%= message[:messageable_id] %></td>
                                <td><%= message[:created_at] %></td>
                                <td><%= message[:updated_at] %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
