
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"> <!-- Ensures that the admin part is not indexed by search engines -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Improves IE compatibility -->
    <title>Outboxer</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
     .custom-link {
         color: #495057; /* Dark grey color */
         text-decoration: none; /* Removes the underline */
     }
     .custom-link:hover {
         text-decoration: underline; /* Adds underline on hover for better UX */
     }
     .alert {
         margin-bottom: 0; /* Removes the bottom margin from alerts */
     }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="bi bi-envelope-open-fill"></i> Outboxer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/messages">All (<%= message_status_counts[:all] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages?status=publishing">Publishing (<%= message_status_counts[:publishing] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages?status=queued">Queued (<%= message_status_counts[:queued] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages?status=backlogged">Backlogged (<%= message_status_counts[:backlogged] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages?status=failed">Failed (<%= message_status_counts[:failed] %>)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Flash Message -->
    <% [:primary, :warning, :success, :danger, :info, :light, :dark, :secondary].each do |alert_type| %>
        <% if flash[alert_type] %>
            <div class="alert alert-dismissible fade show text-center alert-<%= alert_type.to_s %>" role="alert">
                <%= flash[alert_type] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>
    <% end %>

    <%= yield %>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript for Check All functionality -->
    <script>
     document.addEventListener('DOMContentLoaded', function () {
         const checkboxes = document.querySelectorAll('.individual-check');
         const checkAll = document.getElementById('checkAll');
         const bulkActionsToolbar = document.getElementById('bulkActionsToolbar');

         // Function to check the state of individual checkboxes and toggle the toolbar
         function toggleBulkActionsToolbar() {
             const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
             bulkActionsToolbar.classList.toggle('d-none', !anyChecked);
         }

         // Event listener for individual checkboxes
         checkboxes.forEach(checkbox => {
             checkbox.addEventListener('change', toggleBulkActionsToolbar);
         });

         // Event listener for the "Check All" checkbox
         checkAll.addEventListener('change', function () {
             toggleBulkActionsToolbar();
         });

         // Confirm before delete all
         deleteAllBtn.addEventListener('click', function(e) {
             e.preventDefault(); // Prevent the form from submitting if necessary
             const confirmation = confirm('Are you sure you want to delete all?');
             if (!confirmation) {
                 return false; // Stop the function if the user clicks "Cancel"
             }
             // Place the code to delete all here if they click "OK"
         });

         // Confirm before retry all
         retryAllBtn.addEventListener('click', function(e) {
             e.preventDefault(); // Prevent the form from submitting if necessary
             const confirmation = confirm('Are you sure you want to retry all?');
             if (!confirmation) {
                 return false; // Stop the function if the user clicks "Cancel"
             }
             // Place the code to retry all here if they click "OK"
         });
     });

     document.getElementById('checkAll').addEventListener('change', function (e) {
         var checkboxes = document.querySelectorAll('.individual-check');
         for (var i = 0; i < checkboxes.length; i++) {
             checkboxes[i].checked = e.target.checked;
         }
     });
    </script>
</body>
</html>
