<div class="container mt-4">
    <!-- Card to wrap the table and its controls -->
    <div class="card">
        <div class="card-header">
            <!-- Controls Row -->
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center"> <!-- Use 'justify-content-between' to push content to the sides -->
                    <!-- Title aligned to left -->
                    <div class="col">
                        <h3 class="mb-0">Messages</h3>
                    </div>

                    <!-- Buttons aligned to right -->
                    <div class="col d-flex justify-content-end"> <!-- Adjust alignment to end -->
                        <% if Outboxer::Messages.can_republish_all?(status: denormalised_params[:status]) %>
                            <form id="republishAllForm" action="/messages/republish_all" method="post" class="me-2">
                                <input type="hidden" name="action" value="republish_all">
                                <% if denormalised_params[:status] %>
                                    <input type="hidden" name="status" value="<%= denormalised_params[:status] %>">
                                <% end %>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-arrow-clockwise"></i> Republish All
                                </button>
                            </form>
                        <% end %>
                        <form id="deleteAllForm" action="/messages/delete_all" method="post">
                            <input type="hidden" name="action" value="delete_all">
                            <% if denormalised_params[:status] %>
                                <input type="hidden" name="status" value="<%= denormalised_params[:status] %>">
                            <% end %>
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i> Delete All
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bulk Actions Form -->
        <form id="bulkActionForm" action="/messages/update" method="post">
            <div class="card-toolbar py-2 d-none" id="bulkActionsToolbar" style="border-top: 1px solid #eee; border-bottom: 1px solid #eee; background-color: #E9F5FB;">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <!-- Republish Selected Button -->
                            <button class="btn btn-sm btn-outline-secondary me-2" type="submit" name="action" value="republish_selected" data-bs-toggle="tooltip" data-bs-placement="top" title="Republish selected">
                                <i class="bi bi-arrow-clockwise"></i> Republish Selected
                            </button>
                            <!-- Delete Selected Button -->
                            <button class="btn btn-sm btn-outline-danger" type="submit" name="action" value="delete_selected" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete selected">
                                <i class="bi bi-trash"></i> Delete Selected
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-body">
            <% if messages.empty? %>
                <div class="text-center mt-4 mb-4">
                    <p class="fw-bold">There are no messages to display.</p>
                </div>
            <% else %>
                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" id="checkAll">
                                </th>
                                <% headers.each do |header| %>
                                    <th scope="col">
                                        <a href="<%= header[:href] %>">
                                            <%= header[:text] %> <i class="<%= header[:icon_class] %>"></i>
                                        </a>
                                    </th>
                                <% end %>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% messages.each do |message| %>
                                <tr>
                                    <td><input type="checkbox" class="individual-check" form="bulkActionForm" name="selected_ids[]" value="<%= message[:id] %>"></td>
                                    <td scope="row">
                                        <a href="/message/<%= message[:id] %>" class="custom-link">
                                        <%= message[:id] %>
                                        </a>
                                    </td>
                                    <td><%= message[:status] %></td>
                                    <td><%= message[:messageable_type] %>::<%= message[:messageable_id] %></td>
                                    <td>
                                        <%= message[:created_at].in_time_zone('UTC').strftime('%Y-%m-%d %H:%M:%S %Z') %>
                                    </td>
                                    <td>
                                        <%= message[:updated_at].in_time_zone('UTC').strftime('%Y-%m-%d %H:%M:%S %Z') %>
                                    </td>
                                    <td>
                                        <!-- Action buttons -->
                                        <div class="d-flex">
                                        <!-- Republish Button Form -->
                                        <form action="/message/<%= message[:id] %>/republish" method="post">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary me-1 d-flex align-items-center justify-content-center">
                                            <i class="bi bi-arrow-clockwise me-1"></i>
                                            <span>Republish</span>
                                            </button>
                                        </form>

                                        <!-- Delete Button Form -->
                                        <form action="/message/<%= message[:id] %>/delete" method="post">
                                            <button type="submit" class="btn btn-sm btn-outline-danger ms-1 d-flex align-items-center justify-content-center">
                                            <i class="bi bi-trash me-1"></i>
                                            <span>Delete</span>
                                            </button>
                                        </form>
                                        </div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% end %>
        </div>
<div class="card-footer">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <!-- Pagination -->
                <nav aria-label="Page navigation example" class="d-flex align-items-center">
                    <ul class="pagination mb-0">
                        <% if pagination[:previous_page] %>
                            <li class="page-item">
                                <a class="page-link" href="<%= pagination[:previous_page][:href] %>"
                                   aria-label="<%= pagination[:previous_page][:text] %>">
                                    <%= pagination[:previous_page][:text] %>
                                </a>
                            </li>
                        <% end %>
                        <% pagination[:pages].each do |page| %>
                            <li class="page-item <%= 'active' if page[:is_active] %>">
                                <a class="page-link" href="<%= page[:href] %>"><%= page[:text] %></a>
                            </li>
                        <% end %>
                        <% if pagination[:next_page] %>
                            <li class="page-item">
                                <a class="page-link" href="<%= pagination[:next_page][:href] %>"
                                   aria-label="Next: <%= pagination[:next_page][:text] %>">
                                    <%= pagination[:next_page][:text] %>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                </nav>
            </div>
            <div class="col-auto">
                <!-- "Per page" selection -->
                <form action="/messages/update_per_page" method="post" id="perPageForm"
                    class="d-flex align-items-center">
                    <% [:status, :sort, :order, :page].each do |param| %>
                        <% if denormalised_params[param] %>
                            <input type="hidden" name="<%= param %>"
                                   value="<%= denormalised_params[param] %>">
                        <% end %>
                    <% end %>
                    <label for="perPageSelect" class="me-2">Per&nbsp;page:</label>
                    <select class="form-select form-select-sm" aria-label="Per page" id="perPageSelect" name="per_page">
                        <% [10, 100, 200, 500, 1000].each do |number| %>
                            <option value="<%= number %>"
                                    <%= 'selected' if denormalised_params[:per_page]&.to_i == number %>>
                                <%= number %>
                            </option>
                        <% end %>
                    </select>
                    <button type="submit" class="btn btn-sm btn-secondary ms-2" id="submitBtn">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
