<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Publishers</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive table-container">
                <table class="table compact-table">
                    <thead>
                        <% if publishers.empty? %>
                            <div class="text-center mt-4 mb-4">
                                <p class="fw-bold">There are no publishers to display</p>
                            </div>
                        <% else %>
                            <tr>
                                <th scope="col" class="dynamic-name-column">Name</th> <!-- Dynamic column -->
                                <th scope="col">Created</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Status</th>
                                <th scope="col">Throughput</th>
                                <th scope="col">Latency</th>
                                <th scope="col">CPU</th>
                                <th scope="col">RSS</th>
                                <th scope="col">RTT</th>
                                <th scope="col">Action</th> <!-- New Action column -->
                            </tr>
                        <% end %>
                    </thead>
                    <tbody>
                        <% publishers.each do |publisher| %>
                            <tr>
                                <td class="dynamic-name-column">
                                    <%= publisher.name %>
                                </td>
                                <td><%= time_ago_in_words(publisher.created_at) %> ago</td>
                                <td><%= time_ago_in_words(publisher.updated_at) %> ago</td>
                                <td class="text-capitalize"><%= publisher.status %></td>
                                <td><%= publisher.info['throughput'] %></td>
                                <td><%= publisher.info['latency'] %></td>
                                <td><%= publisher.info['cpu'] %>%</td>
                                <td><%= human_readable_size(publisher.info['rss']) %></td>
                                <td><%= (publisher.info['rtt'] * 1000).round(2) %> ms</td>
                                <td> <!-- Action column -->
                                    <!-- Pause Button -->
                                    <form action="<%= outboxer_path("/publisher/#{publisher[:id]}/signals") %>" method="post" style="display: inline;">
                                        <input type="hidden" name="name" value="TSTP">
                                        <input type="hidden" name="time_zone" value="<%= denormalised_query_params[:time_zone] %>">
                                        <button type="submit" class="btn btn-sm btn-outline-warning d-flex align-items-center justify-content-center">
                                            <i class="bi bi-pause-circle me-1"></i>
                                            <span>Pause</span>
                                        </button>
                                    </form>

                                    <!-- Resume Button -->
                                    <form action="<%= outboxer_path("/publisher/#{publisher[:id]}/signals") %>" method="post" style="display: inline;">
                                        <input type="hidden" name="name" value="CONT">
                                        <input type="hidden" name="time_zone" value="<%= denormalised_query_params[:time_zone] %>">
                                        <button type="submit" class="btn btn-sm btn-outline-success d-flex align-items-center justify-content-center">
                                            <i class="bi bi-play-circle me-1"></i>
                                            <span>Resume</span>
                                        </button>
                                    </form>

                                    <form action="<%= outboxer_path("/publisher/#{publisher[:id]}/signals") %>" method="post" style="display: inline;">
                                        <input type="hidden" name="name" value="TTIN">
                                        <input type="hidden" name="time_zone" value="<%= denormalised_query_params[:time_zone] %>">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center">
                                            <i class="bi bi-bug me-1"></i>
                                            <span>Dump Threads</span>
                                        </button>
                                    </form>

                                    <!-- Kill Button -->
                                    <form action="<%= outboxer_path("/publisher/#{publisher[:id]}/signals") %>" method="post" style="display: inline;">
                                        <input type="hidden" name="name" value="TERM">
                                        <input type="hidden" name="time_zone" value="<%= denormalised_query_params[:time_zone] %>">
                                        <button type="submit" class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center">
                                            <i class="bi bi-x-circle me-1"></i>
                                            <span>Kill</span>
                                        </button>
                                    </form>

                                    <!-- Delete Button -->
                                    <form action="<%= outboxer_path("/publisher/#{publisher[:id]}/delete") %>" method="post" style="display: inline;">
                                        <input type="hidden" name="time_zone" value="<%= denormalised_query_params[:time_zone] %>">
                                        <button type="submit" class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center">
                                            <i class="bi bi-trash me-1"></i>
                                            <span>Delete</span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Messages</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Historic count</th>
                            <th scope="col">Current count</th>
                            <th scope="col">Total count</th>
                            <th scope="col">Throughput</th>
                            <th scope="col">Latency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ['queued', 'dequeued', 'publishing', 'published', 'failed'].each do |status| %>
                            <tr>
                                <td class="text-capitalize">
                                    <a class="custom-link" href="<%= outboxer_path("/messages?status=#{status}") %>">
                                        <%= status %>
                                    </a>
                                </td>
                                <td><%= messages_metrics[status.to_sym][:count][:historic] || '-' %></td>
                                <td><%= messages_metrics[status.to_sym][:count][:current] %></td>
                                <td><%= messages_metrics[status.to_sym][:count][:total] || '-' %></td>
                                <td><%= messages_metrics[status.to_sym][:throughput] %></td>
                                <td><%= messages_metrics[status.to_sym][:latency] %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
