<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"> <!-- Ensures that the admin part is not indexed by search engines -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Improves IE compatibility -->
    <title>Outboxer Web</title>
    <link rel="icon" type="image/svg+xml" href="<%= outboxer_path("/favicon.svg") %>">
    <link href="<%= outboxer_path("/css/bootstrap.min.css") %>" rel="stylesheet">
    <link href="<%= outboxer_path("/css/bootstrap-icons.min.css") %>" rel="stylesheet">
    <style>
        .btn {
            white-space: nowrap; /* Prevents wrapping */
        }
        th, td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .custom-link {
            color: #495057;
            text-decoration: none;
        }
        .custom-link:hover {
            text-decoration: underline;
        }
        .alert {
            margin-bottom: 0;
        }
        .pagination .page-link.btn-sm {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
        }
        .table th {
            color: #212529;
        }
        .table th a {
            color: #212529;
            text-decoration: none;
        }
        .table th a:hover {
            color: #212529;
            text-decoration: underline;
        }
        .table th a.active {
            color: #212529;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="<%= outboxer_path('') %>">
                <i class="bi bi-envelope-open-fill"></i> Outboxer
                <span class="badge bg-secondary"><%= messages_metrics[:published][:count][:historic] + messages_metrics[:published][:count][:current] %></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link <%= 'active' if denormalised_params[:status] == 'queued' %>" href="<%= outboxer_path('/messages?status=queued') %>">Queued (<%= messages_metrics[:queued][:count][:current] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= 'active' if denormalised_params[:status] == 'dequeued' %>" href="<%= outboxer_path('/messages?status=dequeued') %>">Dequeued (<%= messages_metrics[:dequeued][:count][:current] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= 'active' if denormalised_params[:status] == 'publishing' %>" href="<%= outboxer_path('/messages?status=publishing') %>">Publishing (<%= messages_metrics[:publishing][:count][:current] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= 'active' if denormalised_params[:status] == 'published' %>" href="<%= outboxer_path('/messages?status=published') %>">Published (<%= messages_metrics[:published][:count][:current] %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= 'active' if denormalised_params[:status] == 'failed' %>" href="<%= outboxer_path('/messages?status=failed') %>">Failed (<%= messages_metrics[:failed][:count][:current] %>)</a>
                    </li>
                </ul>
                <form action="<%= outboxer_path("/update_time_zone") %>" method="post" class="d-flex align-items-center ms-auto flex-nowrap">
                    <% [:status, :sort, :order, :page, :time_zone].each do |param| %>
                        <% if denormalised_params[param] %>
                            <input type="hidden" name="<%= param %>" value="<%= denormalised_params[param] %>">
                        <% end %>
                    <% end %>

                    <!-- Timezone Select Box -->
                    <select id="timeZoneSelect" name="time_zone" class="form-select form-select-sm w-auto">
                        <% Outboxer::Messages::LIST_TIME_ZONE_OPTIONS.each do |tz| %>
                            <option value="<%= tz %>" <%= 'selected' if denormalised_params[:time_zone] == tz %>>
                                <%= tz %>
                            </option>
                        <% end %>
                    </select>

                    <!-- Update Button -->
                    <button type="submit" class="btn btn-sm btn-secondary ms-2">Update</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Flash Message -->
    <% [:primary, :warning, :success, :danger, :info, :light, :dark, :secondary].each do |alert_type| %>
        <% if flash[alert_type] %>
            <div class="alert alert-dismissible fade show text-center alert-<%= alert_type.to_s %>" role="alert">
                <%= flash[alert_type] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>
    <% end %>
    <!-- Content -->
    <%= yield %>
    <!-- Bootstrap Bundle with Popper -->
    <script src="<%= outboxer_path("/js/bootstrap.bundle.min.js") %>"></script>
</body>
</html>
