<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"> <!-- Ensures that the admin part is not indexed by search engines -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Improves IE compatibility -->
    <title>Outboxer Web</title>
    <link rel="icon" type="image/svg+xml" href="<%= outboxer_path("/favicon.svg") %>">
    <link href="<%= outboxer_path("/css/bootstrap.min.css") %>" rel="stylesheet">
    <link href="<%= outboxer_path("/css/bootstrap-icons.min.css") %>" rel="stylesheet">
    <style>
        .btn {
            white-space: nowrap; /* Prevents wrapping */
        }
        th, td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .custom-link {
            color: #495057;
            text-decoration: none;
        }
        .custom-link:hover {
            text-decoration: underline;
        }
        .alert {
            margin-bottom: 0;
        }
        .pagination .page-link.btn-sm {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
        }
        .table th {
            color: #212529;
        }
        .table th a {
            color: #212529;
            text-decoration: none;
        }
        .table th a:hover {
            color: #212529;
            text-decoration: underline;
        }
        .table th a.active {
            color: #212529;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="<%= outboxer_path('') %>">
                <i class="bi bi-envelope-open-fill"></i> Outboxer
                <span class="badge bg-secondary"><%= Outboxer::Web.pretty_number(number: messages_metrics[:published][:count][:total]) %></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% statuses = [
                        { name: 'Queued', key: 'queued' },
                        { name: 'Publishing', key: 'publishing' },
                        { name: 'Published', key: 'published' },
                        { name: 'Failed', key: 'failed' }
                    ] %>

                    <li class="nav-item">
                        <a class="nav-link <%= 'active' if denormalised_query_params[:status] == nil %>"
                           href="<%= outboxer_path("/messages#{normalise_query_string(status: nil, time_zone: denormalised_query_params[:time_zone])}") %>">
                            All (<%= Outboxer::Web.pretty_number(number: messages_metrics[:all][:count][:current]) %>)
                        </a>
                    </li>

                    <% statuses.each do |status| %>
                        <li class="nav-item">
                            <a class="nav-link <%= 'active' if denormalised_query_params[:status] == status[:key] %>"
                               href="<%= outboxer_path("/messages#{normalise_query_string(status: status[:key], time_zone: params[:time_zone])}") %>">
                                <%= status[:name] %> (<%= Outboxer::Web.pretty_number(number: messages_metrics[status[:key].to_sym][:count][:current]) %>)
                            </a>
                        </li>
                    <% end %>
                </ul>
                <form action="<%= outboxer_path("/update_time_zone") %>" method="post" class="d-flex align-items-center ms-auto flex-nowrap">
                    <% denormalised_query_params.each do |key, param| %>
                        <% if (key != :time_zone) && ((key != :status) || (param != nil)) %>
                            <input type="hidden" name="<%= key %>" value="<%= param %>">
                        <% end %>
                    <% end %>

                    <!-- Timezone Select Box -->
                    <select id="timeZoneSelect" name="time_zone" class="form-select form-select-sm w-auto">
                        <% Outboxer::Message::LIST_TIME_ZONE_OPTIONS.each do |time_zone| %>
                            <option value="<%= time_zone %>" <%= 'selected' if denormalised_query_params[:time_zone] == time_zone %>>
                                <%= time_zone %>
                            </option>
                        <% end %>
                    </select>

                    <!-- Update Button -->
                    <button type="submit" class="btn btn-sm btn-secondary ms-2">Update</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Multiple Flash Messages -->
    <% if params[:flash] %>
        <% URI.decode_www_form_component(params[:flash]).split('&').each do |flash_msg| %>
            <% flash_type, message = flash_msg.split(':', 2) %>
            <% if message %>
                <% decoded_message = URI.decode_www_form_component(message) %>
                <div class="alert alert-dismissible fade show text-center alert-<%= flash_type %>" role="alert">
                    <%= decoded_message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <!-- Content -->
    <%= yield %>
    <!-- Bootstrap Bundle with Popper -->
    <script src="<%= outboxer_path("/js/bootstrap.bundle.min.js") %>"></script>
</body>
</html>
