<div class="container my-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Message::<%= message[:id] %></h3>
            <div class="card-header-buttons">
                <!-- Requeue Form -->
                <form action="<%= outboxer_path("/message/#{message[:id]}/requeue") %>" method="post" style="display: inline;">
                    <% normalised_query_params.each do |key, param| %>
                        <input type="hidden" name="<%= key %>" value="<%= param %>">
                    <% end %>
                    <button type="submit" class="btn btn-sm btn-outline-secondary me-2" aria-label="Requeue"
                        <%= 'disabled' unless Outboxer::Message.can_requeue?(status: message[:status]) %>>
                        <i class="bi bi-arrow-clockwise"></i> Requeue
                    </button>
                </form>
                <!-- Delete Form -->
                <form action="<%= outboxer_path("/message/#{message[:id]}/delete") %>" method="post" style="display: inline;"
                    onsubmit="return confirm('Are you sure you want to delete this message?');">

                    <% normalised_query_params.each do |key, param| %>
                        <input type="hidden" name="<%= key %>" value="<%= param %>">
                    <% end %>
                    <button type="submit" class="btn btn-sm btn-outline-danger" aria-label="Delete">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td><%= message[:id] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Messageable</th>
                        <td>
                            <a href="<%= outboxer_path("/message/#{message[:id]}/messageable#{normalised_query_string}") %>" class="custom-link">
                                <%= message[:messageable_type] %>::<%= message[:messageable_id] %>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td class="text-capitalize"><%= message[:status] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Queued</th>
                        <td title="<%= message[:queued_at].in_time_zone(denormalised_query_params[:time_zone]) %>">
                            <%= time_ago_in_words(message[:queued_at]) %> ago
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Updated</th>
                        <td title="<%= message[:updated_at].in_time_zone(denormalised_query_params[:time_zone]) %>">
                            <%= time_ago_in_words(message[:updated_at]) %> ago
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Publisher</th>
                        <td>
                            <% if message[:publisher_exists] %>
                                <a class="custom-link"
                                    href="<%= outboxer_path("/publisher/#{message[:publisher_id]}#{normalise_query_string}") %>">
                                    <%= message[:publisher_name] %>
                                </a>
                            <% else %>
                                <%= message[:publisher_name] || '-' %>
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="container my-4">
                <h4>Latency</h4>
                <%
                    queue_latency = message[:buffered_at] && message[:queued_at] ? (message[:buffered_at] - message[:queued_at]) : 0
                    buffer_latency = message[:publishing_at] && message[:buffered_at] ? (message[:publishing_at] - message[:buffered_at]) : 0
                    publish_latency = message[:publishing_at] ? (message[:updated_at] - message[:publishing_at]) : 0
                    total_latency = queue_latency + buffer_latency + publish_latency

                    queue_percent = total_latency > 0 ? (queue_latency / total_latency * 100).round(2) : 0
                    buffer_percent = total_latency > 0 ? (buffer_latency / total_latency * 100).round(2) : 0
                    publish_percent = total_latency > 0 ? (publish_latency / total_latency * 100).round(2) : 0
                %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Transition</th>
                            <th scope="col">Duration</th>
                            <th scope="col">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Queue Latency -->
                        <tr>
                            <td>Queued to Buffered</td>
                            <td><%= pretty_duration_from_seconds_to_milliseconds(seconds: queue_latency) %></td>
                            <td><%= queue_percent %>%</td>
                        </tr>

                        <!-- Buffer Latency -->
                        <tr>
                            <td>Buffered to Publishing</td>
                            <td><%= pretty_duration_from_seconds_to_milliseconds(seconds: buffer_latency) %></td>
                            <td><%= buffer_percent %>%</td>
                        </tr>

                        <% if message[:status] == Outboxer::Message::Status::PUBLISHED %>
                            <!-- Publish Latency for Published -->
                            <tr>
                                <td>Publishing to Published</td>
                                <td><%= pretty_duration_from_seconds_to_milliseconds(seconds: publish_latency) %></td>
                                <td><%= publish_percent %></td>
                            </tr>
                        <% elsif message[:status] == Outboxer::Message::Status::FAILED %>
                            <!-- Publish Latency for Failed -->
                            <tr>
                                <td>Publishing to Failed</td>
                                <td><%= pretty_duration_from_seconds_to_milliseconds(seconds: publish_latency) %></td>
                                <td><%= publish_percent %></td>
                            </tr>
                        <% else %>
                            <!-- Publish Latency for Other -->
                            <tr>
                                <td>Publishing to Published</td>
                                <td><%= pretty_duration_from_seconds_to_milliseconds(seconds: publish_latency) %></td>
                                <td><%= publish_percent %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <td><%= pretty_duration_from_seconds_to_milliseconds(seconds: total_latency) %></td>
                            <td>100%</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="accordion" id="exceptionsAccordion">
                <% message[:exceptions].each_with_index do |exception, index| %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="exceptionHeader<%= index %>">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#exceptionCollapse<%= index %>" aria-expanded="false" aria-controls="exceptionCollapse<%= index %>">
                                <div class="custom-header-content w-100">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        <span class="ms-2"><%= exception[:id] %>: <%= exception[:class_name] %> - <%= exception[:message_text] %></span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar3"></i>
                                        <small class="text-muted ms-2" style="font-size: 0.75em;"><%= exception[:created_at] %></small>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="exceptionCollapse<%= index %>" class="accordion-collapse collapse show" aria-labelledby="exceptionHeader<%= index %>">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <% exception[:frames].each do |frame| %>
                                    <li class="list-group-item"><%= frame[:id] %>: <%= frame[:text] %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
