<div class="container mt-4">
    <!-- Card to wrap the table and its controls -->
    <div class="card">
        <div class="card-header">
            <!-- Controls Row -->
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <!-- Title aligned to left -->
                    <div class="col">
                        <h3 class="mb-0">Messages</h3>
                    </div>
                    <!-- Buttons aligned to right on larger screens, hidden on smallest screens -->
                    <div class="col d-none d-sm-flex justify-content-end">
                        <form id="requeueAllForm" action="<%= outboxer_path("/messages/requeue_all") %>"
                            method="post" class="me-2">
                            <input type="hidden" name="action" value="requeue_all">
                            <% normalised_query_params.each do |key, param| %>
                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                            <% end %>
                            <button type="submit" class="btn btn-sm btn-outline-secondary"
                                <%= 'disabled' unless Outboxer::Message
                                .can_requeue?(status: denormalised_query_params[:status]) %>>
                                <i class="bi bi-arrow-clockwise"></i> Requeue All
                            </button>
                        </form>
                        <form id="deleteAllForm" action="<%= outboxer_path("/messages/delete_all") %>" method="post">
                            <input type="hidden" name="action" value="delete_all">
                            <% normalised_query_params.each do |key, param| %>
                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                            <% end %>
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i> Delete All
                            </button>
                        </form>
                    </div>
                    <!-- Buttons aligned underneath the header on the smallest screens -->
                    <div class="col-12 d-sm-none mt-2">
                        <% if Outboxer::Message.can_requeue?(status: denormalised_query_params[:status]) %>
                            <form id="requeueAllForm" action="<%= outboxer_path("/messages/requeue_all") %>" method="post" class="mb-2">
                                <input type="hidden" name="action" value="requeue_all">
                                <% normalised_query_params.each do |key, param| %>
                                    <input type="hidden" name="<%= key %>" value="<%= param %>">
                                <% end %>

                                <button type="submit" class="btn btn-sm btn-outline-secondary w-100">
                                    <i class="bi bi-arrow-clockwise"></i> Requeue All
                                </button>
                            </form>
                        <% end %>
                        <form id="deleteAllForm" action="<%= outboxer_path("/messages/delete_all") %>" method="post">
                            <input type="hidden" name="action" value="delete_all">
                            <% normalised_query_params.each do |key, param| %>
                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                            <% end %>
                            <button type="submit" class="btn btn-sm btn-outline-danger w-100">
                                <i class="bi bi-trash"></i> Delete All
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bulk Actions Form -->
        <form id="bulkActionForm" action="<%= outboxer_path("/messages/update") %>" method="post">
            <div class="card-toolbar py-2 d-none" id="bulkActionsToolbar" style="border-top: 1px solid #eee; border-bottom: 1px solid #eee; background-color: #E9F5FB;">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <% normalised_query_params.each do |key, param| %>
                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                            <% end %>

                            <!-- Requeue Selected Button -->
                            <button class="btn btn-sm btn-outline-secondary me-2" type="submit" name="action"
                                    value="requeue_by_ids" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Requeue selected" <%= 'disabled' unless Outboxer::Message.can_requeue?(status: denormalised_query_params[:status]) %>>
                                <i class="bi bi-arrow-clockwise"></i> Requeue Selected
                            </button>

                            <!-- Delete Selected Button -->
                            <button class="btn btn-sm btn-outline-danger" type="submit" name="action" value="delete_by_ids" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete selected">
                                <i class="bi bi-trash"></i> Delete Selected
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-body">
            <% if messages.empty? %>
                <div class="text-center mt-4 mb-4">
                    <p class="fw-bold">There are no messages to display</p>
                </div>
            <% else %>
                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" id="checkAll">
                                </th>
                                <% headers.each do |header| %>
                                    <th scope="col">
                                        <a href="<%= header[:href] %>">
                                            <%= header[:text] %> <i class="<%= header[:icon_class] %>"></i>
                                        </a>
                                    </th>
                                <% end %>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% messages.each do |message| %>
                                <tr>
                                    <td><input type="checkbox" class="individual-check" form="bulkActionForm" name="selected_ids[]" value="<%= message[:id] %>"></td>
                                    <td scope="row">
                                        <a href="<%= outboxer_path("/message/#{message[:id]}#{normalised_query_string}") %>" class="custom-link">
                                            <%= message[:id] %>
                                        </a>
                                    </td>
                                    <td class="text-capitalize"><%= message[:status] %></td>
                                    <td>
                                        <a href="<%= outboxer_path("/message/#{message[:id]}/messageable#{normalised_query_string}") %>" class="custom-link">
                                            <%= message[:messageable_type] %>::<%= message[:messageable_id] %>
                                        </a>
                                    </td>
                                    <td title="<%= message[:queued_at].in_time_zone(denormalised_query_params[:time_zone]) %>">
                                        <%= time_ago_in_words(message[:queued_at]) %> ago
                                    </td>
                                    <td title="<%= message[:updated_at].in_time_zone(denormalised_query_params[:time_zone]) %>">
                                        <%= time_ago_in_words(message[:updated_at]) %> ago
                                    </td>
                                    <td>
                                        <% if message[:publisher_exists] %>
                                            <a class="custom-link"
                                               href="<%= outboxer_path("/publisher/#{message[:publisher_id]}#{normalise_query_string(status: nil, time_zone: denormalised_query_params[:time_zone])}") %>">
                                                <%= message[:publisher_name] %>
                                            </a>
                                        <% else %>
                                            <%= message[:publisher_name] || '-' %>
                                        <% end %>
                                    </td>
                                    <td>
                                        <!-- Action buttons -->
                                        <div class="d-flex">
                                        <!-- Requeue Button Form -->
                                        <form action="<%= outboxer_path("/message/#{message[:id]}/requeue") %>" method="post">
                                            <% normalised_query_params.each do |key, param| %>
                                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                                            <% end %>
                                            <button type="submit" class="btn btn-sm btn-outline-secondary me-1 d-flex align-items-center
                                                            justify-content-center" <%= 'disabled' unless Outboxer::Message
                                                                                    .can_requeue?(status: denormalised_query_params[:status]) %>>
                                                <i class="bi bi-arrow-clockwise me-1"></i>
                                                <span>Requeue</span>
                                            </button>
                                        </form>

                                        <!-- Delete Button Form -->
                                        <form action="<%= outboxer_path("/message/#{message[:id]}/delete") %>" method="post">
                                            <% normalised_query_params.each do |key, param| %>
                                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                                            <% end %>

                                            <button type="submit" class="btn btn-sm btn-outline-danger ms-1 d-flex align-items-center justify-content-center">
                                            <i class="bi bi-trash me-1"></i>
                                            <span>Delete</span>
                                            </button>
                                        </form>
                                        </div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% end %>
        </div>
        <div class="card-footer">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto mt-1 mb-1">
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example" class="d-flex align-items-center">
                            <div class="btn-group btn-group-sm" role="group">
                                <% if pagination[:previous_page] %>
                                    <a class="btn btn-secondary" href="<%= pagination[:previous_page][:href] %>"
                                    aria-label="<%= pagination[:previous_page][:text] %>">
                                        <%= pagination[:previous_page][:text] %>
                                    </a>
                                <% end %>
                                <% pagination[:pages].each do |page| %>
                                    <a class="btn btn-secondary <%= 'active' if page[:is_active] %>" href="<%= page[:href] %>">
                                        <%= page[:text] %>
                                    </a>
                                <% end %>
                                <% if pagination[:next_page] %>
                                    <a class="btn btn-secondary" href="<%= pagination[:next_page][:href] %>"
                                    aria-label="Next: <%= pagination[:next_page][:text] %>">
                                        <%= pagination[:next_page][:text] %>
                                    </a>
                                <% end %>
                            </div>
                        </nav>
                    </div>
                    <div class="col-auto mb-1 mt-1">
                        <!-- "Per page" selection -->
                        <form action="<%= outboxer_path("/messages/update_per_page#{normalised_query_string}") %>" method="post" id="perPageForm"
                            class="d-flex align-items-center">
                            <% normalised_query_params.each do |key, param| %>
                                <input type="hidden" name="<%= key %>" value="<%= param %>">
                            <% end %>
                            <label for="perPageSelect" class="me-2">Per&nbsp;page:</label>
                            <select class="form-select form-select-sm" aria-label="Per page" id="perPageSelect" name="per_page">
                                <% [10, 100, 200, 500, 1000].each do |number| %>
                                    <option value="<%= number %>"
                                            <%= 'selected' if denormalised_query_params[:per_page]&.to_i == number %>>
                                        <%= number %>
                                    </option>
                                <% end %>
                            </select>
                            <button type="submit" class="btn btn-sm btn-secondary ms-2" id="submitBtn">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('.individual-check');
        const checkAll = document.getElementById('checkAll');
        const bulkActionsToolbar = document.getElementById('bulkActionsToolbar');

        function toggleBulkActionsToolbar() {
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            bulkActionsToolbar.classList.toggle('d-none', !anyChecked);
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', toggleBulkActionsToolbar);
        });


        if (checkAll) {
            checkAllElement.addEventListener('change', function (e) {
                var checkboxes = document.querySelectorAll('.individual-check');
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = e.target.checked;
                }
            });

            checkAll.addEventListener('change', function () {
                toggleBulkActionsToolbar();
            });
        }

        const deleteAllBtn = document.getElementById('deleteAllBtn');

        if (deleteAllBtn) {
            deleteAllBtn.addEventListener('click', function(e) {
                const confirmation = confirm('Are you sure you want to delete all?');
                if (!confirmation) {
                    e.preventDefault();
                    return false;
                }
            });
        }

        const retryAllBtn = document.getElementById('retryAllBtn');

        if (retryAllBtn) {
            retryAllBtn.addEventListener('click', function(e) {
                const confirmation = confirm('Are you sure you want to retry all?');
                if (!confirmation) {
                    e.preventDefault();
                    return false;
                }
            });
        }
    });

    var checkAllElement = document.getElementById('checkAll');
</script>
