<div class="container my-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Message <%= message[:id] %></h3>
            <div class="card-header-buttons">
                <!-- Requeue Form -->
                <form action="<%= outboxer_path("/message/#{message[:id]}/requeue") %>" method="post" style="display: inline;">
                    <% normalised_query_params.each do |key, param| %>
                        <input type="hidden" name="<%= key %>" value="<%= param %>">
                    <% end %>
                    <button type="submit" class="btn btn-sm btn-outline-secondary me-2" aria-label="Requeue"
                        <%= 'disabled' unless Outboxer::Message.can_requeue?(status: message[:status]) %>>
                        <i class="bi bi-arrow-clockwise"></i> Requeue
                    </button>
                </form>
                <!-- Delete Form -->
                <form action="<%= outboxer_path("/message/#{message[:id]}/delete") %>" method="post" style="display: inline;
                    onsubmit="return confirm('Are you sure you want to delete this message?');">

                    <% normalised_query_params.each do |key, param| %>
                        <input type="hidden" name="<%= key %>" value="<%= param %>">
                    <% end %>
                    <button type="submit" class="btn btn-sm btn-outline-danger" aria-label="Delete">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td><%= message[:id] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Messageable Type</th>
                        <td><%= message[:messageable_type] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Messageable Id</th>
                        <td><%= message[:messageable_id] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td><%= message[:status] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Created At</th>
                        <td><%= message[:created_at] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Updated At</th>
                        <td><%= message[:updated_at] %></td>
                    </tr>
                    <tr>
                        <th scope="row">Updated By</th>
                        <td><%= message[:updated_by] %></td>
                    </tr>
                </tbody>
            </table>
            <div class="accordion" id="exceptionsAccordion">
                <% message[:exceptions].each_with_index do |exception, index| %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="exceptionHeader<%= index %>">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#exceptionCollapse<%= index %>" aria-expanded="false" aria-controls="exceptionCollapse<%= index %>">
                                <div class="custom-header-content w-100">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        <span class="ms-2"><%= exception[:id] %>: <%= exception[:class_name] %> - <%= exception[:message_text] %></span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar3"></i>
                                        <small class="text-muted ms-2" style="font-size: 0.75em;"><%= exception[:created_at] %></small>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="exceptionCollapse<%= index %>" class="accordion-collapse collapse show" aria-labelledby="exceptionHeader<%= index %>">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <% exception[:frames].each do |frame| %>
                                    <li class="list-group-item"><%= frame[:id] %>: <%= frame[:text] %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
