<div <div class="container mt-4">
    <h1 class="mb-3">Message Details</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Message Info</h5>
            <p class="card-text"><strong>Id:</strong> <%= message.id %></p>
            <p class="card-text"><strong>Status:</strong> <%= message.status %></p>
            <p class="card-text"><strong>Messageable Type:</strong> <%= message.messageable_type %></p>
            <p class="card-text"><strong>Messageable Id:</strong> <%= message.messageable_id %></p>
            <p class="card-text"><strong>Created At:</strong> <%= message.created_at %></p>
            <p class="card-text"><strong>Updated At:</strong> <%= message.updated_at %></p>
            <p class="card-text"><strong>Updated By:</strong> <%= message.updated_by %></p>
        </div>
    </div>

    <% if message.exceptions.any? %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Exceptions</h5>
                <ul class="list-group list-group-flush">
                    <% message.exceptions.each do |exception| %>
                        <li class="list-group-item">
                            <p><strong>Class Name:</strong> <%= exception.class_name %></p>
                            <p><strong>Message:</strong> <%= exception.message_text %></p>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
</div>
